# requirements.txt

Flask
requests
beautifulsoup4
fake-useragent
Pillow
google-generativeai
google-api-python-client  # <--- AÑADE ESTA LÍNEA
google-auth-httplib2      # <--- AÑADE ESTA LÍNEA TAMBIÉN
gunicorn                  # Recomendado para producción en Render
